@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap');

body{
    font-family: 'Montserrat', sans-serif;;
}

h1{
    text-align: center;
}

h2{
    text-align: center;
    padding-top: 2rem;

}

html{
    background-color: peachpuff;
}



p{
    max-width: 50%;
    padding-left: 25%;
}

#navButtons{
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    padding-left: 25%;
}

a{
    background-color: #B9DEFF;
    border: none;
    color: black;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 8px;
    box-shadow: 0 4px 12px 0 rgba(0,0,0,0.2)
}

#reusmeImages{
    display: flex;
    justify-content: space-evenly;
}

.crop{
    width: 400px;
    height: 300px;
    overflow: hidden;
    display: block;
    margin:auto;
}

.crop img{
    width: 600px;
    height: 1100px;
    margin: -280px 0 0 -100px;
}